@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: lightsteelblue;
    font-size: 1.6rem;
}

h1 {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-size: 4rem;
    color: lightcoral;
    text-shadow: 5px 5px black;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-style: italic;
}

.container {
    padding: 0 2vw;
    display: flex;
    justify-content: center;
}

.controls {
    margin-right: 3rem;
    margin-bottom: 25rem;
    display: flex;
    align-items: center;
    float: left;
    margin-left: -17rem;
}

.controls h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: blue;
}

.controls-inner {
    background-color: #a8dadc;
    text-align: center;
    padding: 2rem;
    border: 1px solid;
    border-radius: 1rem;
    margin-top: 26rem;
}

.grid-size {
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 500;
    font-size: 1.8rem;
}

.apply {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: lightgreen;
    color: black;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.reset {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: lightgray;
    color: black;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.grid {
    border: 2px solid #a8dadc;
    border-radius: 1rem;
    width: 70rem;
    height: 70rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
  }

.box {
    border: .1px solid rgb(66, 66, 66);
    
    border-radius: .5rem;
}

.box.active {
    background-color: darkblue;
}